body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.calendar-widget-container {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  height: 100%;
}

.calendar-widget {
  margin-top: 80px;
}

.calendar-widget-title {
  width: 100%;
  background-color: white;
  position: fixed;
  margin-top: 0px;
  top: 0px;
  padding-bottom: 0.5em;
  z-index: 99;
  -webkit-box-shadow: 0 0px 10px 8px rgba(40, 60, 70, 0.1);
  -moz-box-shadow: 0 0px 10px 8px rgba(40, 60, 70, 0.1);
  box-shadow: 0 0px 10px 8px rgba(40, 60, 70, 0.1);
}

.calendar-card {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  transition: all 0.5s ease;
}

.date-column {
  width: 15%;
  margin-right:3%;
}

.date-number {
  margin: 0;
  font-size: 2em;
}

.date-day {
  margin: 0;
}

.calendar-event {
  background-color: #36aad6;
  position:relative;
  width:100%;
  z-index: 1;
  padding: 1px 20px 20px 20px;
  box-shadow: 0 0px 10px 8px rgba(40, 60, 70, 0.1)
}

.event-title {
  display:inline-block;
  margin-bottom: 10px;
  font-weight: 500!important;
}

.event-time {
  margin-top: 0px;
  font-size: 16px;
}

.event-link-container {
  margin-bottom: 10px;
}

.bad-event {
  background-color: #d63636!important;
}

.multi-day-event {
  background-color: #9536d6; 
}

.white-regular {
  font-weight: 300;
  color: white;
}

@media (min-width:500px){

  .calendar-widget-container {
    height: 300px;
  }

  .calendar-widget {
    height:100%;
    overflow-y: scroll;
    margin-top: 0px;
  }

  .calendar-widget-title {
    width: auto;
    box-shadow: none;
    position: relative;
    padding-bottom: 0px;
  }

  .calendar-event:hover {
    z-index: 99;
    box-shadow: 0px 0px 50px rgba(40, 60, 70, 0.7);
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
}